In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')

In [3]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [4]:
search_details=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]')

table_details=[]
for i in search_details:
    table_details.append(i.text.split('\n'))

[['Top 30 most-viewed YouTube videos[2]',
  'No. Video name Uploader Views (billions) Upload date Note',
  '1. "Baby Shark Dance"[3] Pinkfong Baby Shark - Kids\' Songs & Stories 10.21 June 17, 2016 [B]',
  '2. "Despacito"[6] Luis Fonsi 7.75 January 12, 2017 [C]',
  '3. "Johny Johny Yes Papa"[12] LooLoo Kids 6.17 October 8, 2016 [D]',
  '4. "Shape of You"[13] Ed Sheeran 5.62 January 30, 2017 [E]',
  '5. "See You Again"[15] Wiz Khalifa 5.42 April 6, 2015 [F]',
  '6. "Bath Song"[20] Cocomelon – Nursery Rhymes 4.99 May 2, 2018 [G]',
  '7. "Learning Colors – Colorful Eggs on a Farm"[21] Miroshka TV 4.56 February 27, 2018 [H]',
  '8. "Masha and the Bear – Recipe for Disaster"[22] Get Movies 4.48 January 31, 2012 [I]',
  '9. "Phonics Song with Two Words"[23] ChuChu TV 4.47 March 6, 2014 [J]',
  '10. "Uptown Funk"[24] Mark Ronson 4.46 November 19, 2014 [K]',
  '11. "Gangnam Style"[25] Psy 4.34 July 15, 2012 [L]',
  '12. "Dame Tu Cosita"[30] El Chombo 3.85 April 5, 2018',
  '13. "Wheels on the Bus"[31] Cocomelon – Nursery Rhymes 3.68 May 24, 2018',
  '14. "Sugar"[32] Maroon 5 3.64 January 14, 2015',
  '15. "Roar"[33] Katy Perry 3.52 September 5, 2013',
  '16. "Sorry"[34] Justin Bieber 3.51 October 22, 2015',
  '17. "Counting Stars"[35] OneRepublic 3.51 May 31, 2013',
  '18. "Thinking Out Loud"[36] Ed Sheeran 3.41 October 7, 2014',
  '19. "Girls Like You"[37] Maroon 5 3.24 May 31, 2018',
  '20. "Faded"[38] Alan Walker 3.23 December 3, 2015',
  '21. "Axel F"[39] Crazy Frog 3.23 June 16, 2009',
  '22. "Dark Horse"[40] Katy Perry 3.22 February 20, 2014',
  '23. "Let Her Go"[41] Passenger 3.17 July 25, 2012',
  '24. "Bailando"[42] Enrique Iglesias 3.16 April 11, 2014',
  '25. "Lean On"[43] Major Lazer 3.16 March 22, 2015',
  '26. "Shake It Off"[44] Taylor Swift 3.14 August 18, 2014',
  '27. "Baa Baa Black Sheep"[45] Cocomelon – Nursery Rhymes 3.13 June 25, 2018',
  '28. "Perfect"[46] Ed Sheeran 3.09 November 9, 2017',
  '29. "Waka Waka (This Time for Africa)"[47] Shakira 3.06 June 4, 2010',
  '30. "Mi Gente"[48] J Balvin 3.04 June 29, 2017',
  'As of February 18, 2022'],
 ['Progression of the most-viewed video on YouTube',
  'Video name Uploader Views* Upload date Date achieved Days held Ref Notes',
  '"Baby Shark Dance"[3] Pinkfong Baby Shark - Kids\' Songs & Stories 7,037,500,000 June 17, 2016 November 2, 2020 473',
  '"Despacito"[6] Luis Fonsi 2,993,700,000 January 12, 2017 August 4, 2017 1,186 [58] [C]',
  '"See You Again"[15] Wiz Khalifa 2,894,000,000 April 6, 2015 July 10, 2017 25 [16]',
  '"Gangnam Style"⁂[25] Psy 803,700,000 July 15, 2012 November 24, 2012 1,689 [26] [L]',
  '"Baby"*[59] Justin Bieber 245,400,000 February 19, 2010 July 16, 2010 862 [60] [M]',
  '"Bad Romance"[63] Lady Gaga 178,400,000 November 24, 2009 April 14, 2010 93 [64] [N]',
  '"Charlie Bit My Finger"‡[67] HDCYT 128,900,000 May 22, 2007 October 25, 2009 171 [68]',
  '"Evolution of Dance"[69] Judson Laipply 118,900,000 April 6, 2006 May 2, 2009 176 [70]',
  '"Girlfriend"‡[71][72] RCA Records 92,600,000 February 27, 2007 July 17, 2008 289 [73]',
  '"Evolution of Dance"[69] Judson Laipply 78,400,000 April 6, 2006 March 15, 2008 124 [74]',
  '"Music Is My Hot Hot Sex"‡[75] CLARUSBARTEL72 76,600,000 April 9, 2007 March 1, 2008 14 [76] [O]',
  '"Evolution of Dance"*[69] Judson Laipply 10,600,000 April 6, 2006 May 19, 2006 652 [79] [P]',
  '"Pokemon Theme Music Video"‡[80] Smosh 4,300,000 November 28, 2005 March 12, 2006 68 [81] [Q]',
  '"Myspace – The Movie"‡[84][85] eggtea 2,700,000 January 31, 2006 February 18, 2006 22 [86]',
  '"Phony Photo Booth"‡[87] mugenized 3,400,000 December 1, 2005 January 21, 2006 28 [88] [R]',
  '"The Chronic of Narnia Rap"‡[89] youtubedude 2,300,000 December 18, 2005 January 9, 2006 12 [90]',
  '"Ronaldinho: Touch of Gold"‡*[91] Nikesoccer 255,000 October 21, 2005 October 31, 2005 70 [92] [S]',
  '"I/O Brush"‡*[94] larfus 247,000 October 5, 2005 October 29, 2005 2 [95]',
  '"Me at the zoo"[96] jawed 1 April 23, 2005 April 23, 2005 1 [97]',
  'As of February 18, 2022']]

In [13]:
Details=pd.DataFrame(table_details)
Details=pd.DataFrame.transpose(Details)
Details.drop([1], inplace=True, axis=1)
Details.loc[:31]

                                                    0
0                Top 30 most-viewed YouTube videos[2]
1   No. Video name Uploader Views (billions) Uploa...
2   1. "Baby Shark Dance"[3] Pinkfong Baby Shark -...
3   2. "Despacito"[6] Luis Fonsi 7.75 January 12, ...
4   3. "Johny Johny Yes Papa"[12] LooLoo Kids 6.17...
5   4. "Shape of You"[13] Ed Sheeran 5.62 January ...
6   5. "See You Again"[15] Wiz Khalifa 5.42 April ...
7   6. "Bath Song"[20] Cocomelon – Nursery Rhymes ...
8   7. "Learning Colors – Colorful Eggs on a Farm"...
9   8. "Masha and the Bear – Recipe for Disaster"[...
10  9. "Phonics Song with Two Words"[23] ChuChu TV...
11  10. "Uptown Funk"[24] Mark Ronson 4.46 Novembe...
12  11. "Gangnam Style"[25] Psy 4.34 July 15, 2012...
13  12. "Dame Tu Cosita"[30] El Chombo 3.85 April ...
14  13. "Wheels on the Bus"[31] Cocomelon – Nurser...
15     14. "Sugar"[32] Maroon 5 3.64 January 14, 2015
16   15. "Roar"[33] Katy Perry 3.52 September 5, 2013
17  16. "Sorry"[34] Justin Bieber 3.51 October 22,...
18  17. "Counting Stars"[35] OneRepublic 3.51 May ...
19  18. "Thinking Out Loud"[36] Ed Sheeran 3.41 Oc...
20  19. "Girls Like You"[37] Maroon 5 3.24 May 31,...
21  20. "Faded"[38] Alan Walker 3.23 December 3, 2015
22     21. "Axel F"[39] Crazy Frog 3.23 June 16, 2009
23  22. "Dark Horse"[40] Katy Perry 3.22 February ...
24  23. "Let Her Go"[41] Passenger 3.17 July 25, 2012
25  24. "Bailando"[42] Enrique Iglesias 3.16 April...
26  25. "Lean On"[43] Major Lazer 3.16 March 22, 2015
27  26. "Shake It Off"[44] Taylor Swift 3.14 Augus...
28  27. "Baa Baa Black Sheep"[45] Cocomelon – Nurs...
29  28. "Perfect"[46] Ed Sheeran 3.09 November 9, ...
30  29. "Waka Waka (This Time for Africa)"[47] Sha...
31     30. "Mi Gente"[48] J Balvin 3.04 June 29, 2017

## 2 Question

In [62]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https://www.bcci.tv/.'
driver.get(url)

In [63]:
button_international=driver.find_element_by_xpath('//button[@class="navbar-toggler menu-btn menu-icon"]').click()

In [64]:
select_internation=driver.find_element_by_xpath('//li[@class="nav-item ml-0"]').click()

In [66]:
select_match=driver.find_element_by_xpath('//a[@class="match-center-btn ng-scope"]').get_attribute("href")

In [67]:
driver.get(select_match)

In [76]:
match_title=[]

title=driver.find_element_by_xpath('//div[@class="tournament--name ng-binding ng-scope"]')
match_title.append(title.text.split(','))

date=driver.find_element_by_xpath('//div[@class="matchDate alignC ng-binding ng-scope"]')
match_title.append(date.text.split(','))

place=driver.find_element_by_xpath('//span[@class="matGround ng-binding"]')
match_title.append(place.text.split(','))

place_=driver.find_element_by_xpath('//span[@class="matPlace ng-binding ng-scope"]')
match_title.append(place_.text.split(','))

VS_=driver.find_element_by_xpath('//span[@class="tName ng-binding ng-scope"]')
match_title.append(VS_.text.split(','))

VS__=driver.find_element_by_xpath('//*[@id="scoreBox"]/div[1]/div/div[2]/div[2]/span[2]')
match_title.append(VS__.text)

In [78]:
match_title

[['WEST INDIES TOUR OF INDIA T20 SERIES 2022'],
 ['20 FEB 2022'],
 ['EDEN GARDENS'],
 ['KOLKATA'],
 ['INDIA'],
 'WEST INDIES']

## 3 Question

In [131]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https://www.guru99.com/'
driver.get(url)
time.sleep(2)

In [91]:
from selenium.webdriver.common.keys import Keys

In [133]:
button_search=driver.find_element_by_xpath('//input[@class="gsc-input"]')
button_search.send_keys("Selenium Exception Handling")
time.sleep(1)
button_search.send_keys(Keys.ENTER)

In [134]:
select_website=driver.find_element_by_xpath('//a[@class="gs-title"]').get_attribute("href")
driver.get(select_website)

In [140]:
search_excep=driver.find_elements_by_xpath('//table[@class="table table-striped"]')
exceps=[]
for i in search_excep:
    exceps.append(i.text.split('\n'))

In [141]:
df_exceps=pd.DataFrame(exceps)
df_exceps=pd.DataFrame.transpose(df_exceps)

In [146]:
headers = df_exceps.iloc[0]
df_exceps.columns = [headers]  
df_exceps.drop(index=0, inplace=True) # drop the first row

In [168]:
df_exceps

0                          Exception name Description
1   ElementNotVisibleException This type of Seleni...
2   ElementNotSelectableException This Selenium ex...
3   NoSuchElementException This Exception occurs i...
4   NoSuchFrameException This Exception occurs if ...
5   NoAlertPresentException This Exception occurs ...
6   NoSuchWindowException This Exception occurs if...
7   StaleElementReferenceException This Selenium e...
8   SessionNotFoundException The WebDriver is acti...
9   TimeoutException Thrown when there is not enou...
10  WebDriverException This Exception takes place ...
11  ConnectionClosedException This type of Excepti...
12  ElementClickInterceptedException The command m...
13  ElementNotInteractableException This Selenium ...
14  ErrorInResponseException This happens while in...
15  ErrorHandler.UnknownServerException Exception ...
16  ImeActivationFailedException This expectation ...
17  ImeNotAvailableException It takes place when I...
18  InsecureCertificateException Navigation made t...
19  InvalidArgumentException It occurs when an arg...
20  InvalidCookieDomainException This happens when...
21  InvalidCoordinatesException This type of Excep...
22  InvalidElementStateExceptio It occurs when com...
23  InvalidSessionIdException This Exception took ...
24  InvalidSwitchToTargetException This occurs whe...
25  JavascriptException This issue occurs while ex...
26  JsonException It occurs when you afford to get...
27  NoSuchAttributeException This kind of Exceptio...
28  MoveTargetOutOfBoundsException It takes place ...
29  NoSuchContextException ContextAware does mobil...
30  NoSuchCookieException This Exception occurs wh...
31  NotFoundException This Exception is a subclass...
32  RemoteDriverServerException This Selenium exce...
33  ScreenshotException It is not possible to capt...
34  SessionNotCreatedException It happens when a n...
35  UnableToSetCookieException This occurs if a dr...
36  UnexpectedTagNameException Happens if a suppor...
37  UnhandledAlertException This expectation occur...
38  UnexpectedAlertPresentException It occurs when...
39  UnknownMethodException This Exception happens ...
40  UnreachableBrowserException This Exception occ...
41  UnsupportedCommandException This occurs when r...

In [ ]:
df[['code','name_of_code']] = df["code"].str.split(" ", 1, expand=True)

## 4 question

In [178]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='http://statisticstimes.com/'
driver.get(url)
time.sleep(2)

In [179]:
select_economy=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [180]:
select_india=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').get_attribute("href")

In [181]:
driver.get(select_india)

In [182]:
select_GDP=driver.find_element_by_xpath('//a[contains(text(),"GDP of Indian states")]').get_attribute("href")

In [183]:
driver.get(select_GDP)

'//p[contains(text(),"Privates")]'

In [195]:
GDP_No=[]
for i in driver.find_elements_by_xpath('//td[@class="data1"]'):
    GDP_No.append(i.text.split(','))
    
    
GDP_State=[]
for i in driver.find_elements_by_xpath('//td[@class="name"]'):
    GDP_State.append(i.text.split(','))
    
GDP_value=[]
for i in driver.find_elements_by_xpath('//td[@class="data sorting_1"]'):
    GDP_value.append(i.text)

        
GDP_share=[]
for i in driver.find_elements_by_xpath('//td[contains(text(),"%")]'):
    GDP_share.append(i.text)

In [196]:
GDP=pd.DataFrame({})
GDP['No']=GDP_No
GDP['State']=GDP_State
GDP['GDP']=GDP_value
GDP['Share']=GDP_share
GDP

ValueError: Length of values (64) does not match length of index (66)

In [197]:
    
len(GDP_value)

66

In [198]:
len(GDP_No)

68

## Question 5

In [3]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https://github.com/'
driver.get(url)
time.sleep(2)

In [4]:
select_github=driver.find_element_by_xpath('//button[@class="js-details-target btn-link d-lg-none mt-1 color-fg-inherit"]').click()

In [6]:
select_github=driver.find_element_by_xpath('//summary[contains(text(),"Explore")]').click()

In [7]:
select_github=driver.find_element_by_xpath('//a[contains(text(),"Trending")]').click()

In [ ]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]


for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        title=driver.find_element_by_xpath('//h1[@class="a-size-large a-spacing-none"]')
        product_title.append(title.text)
    except:
         product_title.append('-')

In [10]:
urls=[]
for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a'):
        urls.append(i.get_attribute("href"))

In [11]:
urls

['https://github.com/Anduin2017/HowToCook',
 'https://github.com/NVlabs/instant-ngp',
 'https://github.com/yt-dlp/yt-dlp',
 'https://github.com/coding-horror/basic-computer-games',
 'https://github.com/odin-lang/Odin',
 'https://github.com/emilk/egui',
 'https://github.com/martinvonz/jj',
 'https://github.com/adrianhajdin/project_professional_portfolio',
 'https://github.com/lwthiker/curl-impersonate',
 'https://github.com/danistefanovic/build-your-own-x',
 'https://github.com/doocs/advanced-java',
 'https://github.com/BlueWallet/BlueWallet',
 'https://github.com/supabase/supabase',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/cryptotwinsbr/spacecrypto-bot',
 'https://github.com/harmonoid/harmonoid',
 'https://github.com/withfig/autocomplete',
 'https://github.com/myugan/awesome-docker-security',
 'https://github.com/BuilderIO/qwik',
 'https://github.com/danielbeach/data-engineering-practice',
 'https://github.com/laurent22/joplin',
 'https://github.com/trustwallet/assets',
 'https://github.com/saadeghi/daisyui',
 'https://github.com/louislam/uptime-kuma',
 'https://github.com/commaai/openpilot']

In [25]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        title=driver.find_element_by_xpath('//a[@class="url fn"]')
        Repository_title.append(title.text)
    except:
         Repository_title.append('-')

    try:
        count=driver.find_element_by_xpath('//div[@class="mt-3"]')
        Contributors_count.append(count.text)

    except:
        Contributors_count.append('-')
        
    try:
        desc=driver.find_element_by_xpath('//p[@class="f4 my-3"]')
        Repository_description.append(desc.text)

    except:
        Repository_description.append('-')
    try:
        lang=driver.find_element_by_xpath('//li[@class="d-inline"]')
        Language_used.append(lang.text)

    except:
        Language_used.append('-')

In [26]:
df=pd.DataFrame({})
df['Repository_title']=Repository_title
df['Repository_description']=Repository_description
df['Contributors_count']=Contributors_count
df['Language_used']=Language_used
df.columns=['Repository_title','Repository_description','Contributors_count','Language_used']

In [27]:
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,Anduin2017,程序员在家做饭方法指南。,+ 68 contributors,-
1,NVlabs,Instant neural graphics primitives: lightning ...,-,Cuda\n72.1%
2,yt-dlp,A youtube-dl fork with additional features and...,+ 48 releases,Python\n99.7%
3,coding-horror,"An updated version of the classic ""Basic Compu...",+ 144 contributors,C#\n22.2%
4,odin-lang,Odin Programming Language,+ 46 releases,Odin\n44.8%
5,emilk,egui: an easy-to-use immediate mode GUI in Rus...,+ 4 releases,Rust\n98.7%
6,martinvonz,A Git-compatible DVCS that is both simple and ...,-,Rust\n99.6%
7,adrianhajdin,This is a code repository for the correspondin...,-,JavaScript\n55.8%
8,lwthiker,curl-impersonate: A special compilation of cur...,-,Dockerfile\n57.4%
9,danistefanovic,🤓 Build your own (insert technology here),+ 61 contributors,-
10,doocs,😮 Core Interview Questions & Answers For Exper...,+ 20 contributors,Java\n97.3%
11,BlueWallet,Bitcoin thin client for iOS & Android. Built w...,+ 56 releases,JavaScript\n84.1%
12,supabase,The open source Firebase alternative. Follow t...,+ 17 releases,TypeScript\n72.5%
13,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"+ 4,384 contributors",JavaScript\n47.2%
14,cryptotwinsbr,This is a free python bot program that crosses...,-,Python\n100.0%
15,harmonoid,🎵 Elegant music app to play & manage music lib...,+ 23 releases,Dart\n89.7%
16,withfig,Fig adds autocomplete to your terminal.,+ 170 contributors,TypeScript\n100.0%
17,myugan,📚 A curated list of awesome Docker security re...,-,-
18,BuilderIO,The HTML-first framework. Initialize apps of a...,+ 18 releases,TypeScript\n78.0%
19,danielbeach,Data Engineering Practice Problems,-,Python\n72.4%
20,laurent22,Joplin - an open source note taking and to-do ...,+ 252 releases,TypeScript\n56.5%
21,trustwallet,"A comprehensive, up-to-date collection of info...","+ 3,435 contributors",Go\n97.2%
22,saadeghi,⭐️ ⭐️ ⭐️ ⭐️ ⭐️ Tailwind Components,+ 16 contributors,Svelte\n49.8%
23,louislam,A fancy self-hosted monitoring tool,+ 32 releases,JavaScript\n73.1%
24,commaai,openpilot is an open source driver assistance ...,+ 42 releases,Python\n51.9%

## 6 Question

In [3]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https:/www.billboard.com'
driver.get(url)
time.sleep(2)

In [4]:
select_charts=driver.find_element_by_xpath('//a[contains(text(),"Charts")]').get_attribute("href")

In [5]:
driver.get(select_charts)

In [6]:
select_hot100=driver.find_element_by_xpath('//a[@class="c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet"]').get_attribute("href")

In [7]:
driver.get(select_hot100)

In [8]:
vedio_Name=[]
for i in driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    vedio_Name.append(i.text)

In [9]:


vedio_artist=[]
for i in driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    vedio_artist.append(i.text)

In [10]:
vedio_rating=[]
for i in driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
    vedio_rating.append(i.text)

In [11]:
odd_rating = []
even_rating = []
for i in range(0, len(vedio_rating)):
    if i % 2:
        even_rating.append(vedio_rating[i])
    else :
        odd_rating.append(vedio_rating[i])
 
res = odd_rating + even_rating
 
# print result

In [12]:
del odd_rating[0]
del even_rating[0]

In [13]:
peak_rating=[]
for i in driver.find_elements_by_xpath('//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]'):
    peak_rating.append(i.text)

In [21]:
odd_peak_rating = []
even_peak_rating = []
for i in range(0, len(peak_rating)):
    if i % 2:
        even_peak_rating.append(peak_rating[i])
    else :
        odd_peak_rating.append(peak_rating[i])
 
res = odd_peak_rating + even_peak_rating

In [22]:
del even_peak_rating[0]

In [23]:
df=pd.DataFrame({})
df['vedio_Name']=vedio_Name
df['vedio_artist']=vedio_artist

df['Last_WeeK']=odd_rating
df['PeakRating']=even_peak_rating
df['Weeks_charts']=even_rating

In [24]:
df

,vedio_Name,vedio_artist,Last_WeeK,PeakRating,Weeks_charts
0,Do We Have A Problem?,Nicki Minaj X Lil Baby,-,2,1
1,Easy On Me,Adele,2,1,18
2,Heat Waves,Glass Animals,3,3,56
3,Stay,The Kid LAROI & Justin Bieber,4,1,31
4,Super Gremlin,Kodak Black,5,5,14
...,...,...,...,...,...
94,Iffy,Chris Brown,87,71,4
95,When I'm Gone,Alesso / Katy Perry,-,97,1
96,Fair Trade,Drake Featuring Travis Scott,90,3,17
97,Megan's Piano,Megan Thee Stallion,97,97,2
98,Moth To A Flame,Swedish House Mafia & The Weeknd,-,27,8

## 7 Question

In [2]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https://www.naukri.com/'
driver.get(url)
time.sleep(2)

In [5]:
search_ITEM=driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search_ITEM.send_keys("Data science")

In [6]:
from selenium.webdriver.common.keys import Keys
search_ITEM.send_keys(Keys.ENTER)

In [7]:
search_recruters=driver.find_element_by_xpath('//a[@title="Search Recruiters"]').get_attribute("href")

In [9]:
driver.get(search_recruters)

In [11]:
urls=[]
for i in driver.find_elements_by_xpath('//div[@class="recImg mid_pImg_Silht"]/a'):
        urls.append(i.get_attribute("href"))

In [21]:
Recruiters_Name=[]
Recruiters_Desig=[]
Recruiters_Company=[]
Recruiters_skill=[]
Recruiters_location=[]

for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        Name=driver.find_element_by_xpath('//h1[@class="fl ellipsis wLimit hd"]')
        Recruiters_Name.append(Name.text)
    except:
         Recruiters_Name.append('-')

    try:
        Designation=driver.find_element_by_xpath('//div[@class="ellipsis"]')
        Recruiters_Desig.append(Designation.text)

    except:
        Recruiters_Desig.append('-')
        
    try:
        Company=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[4]/a')
        Recruiters_Company.append(Company.text)

    except:
        Recruiters_Company.append('-')
        
    try:
        location=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
        Recruiters_location.append(location.text)

    except:
        Recruiters_location.append('-')
        
    try:
        skill=driver.find_element_by_xpath('//*[@id="skillInfo"]/p[1]')
        Recruiters_skill.append(skill.text)

    except:
        Recruiters_skill.append('-')

In [24]:
df=pd.DataFrame({})
df['Recruiters_Name']=Recruiters_Name
df['Recruiters_Desig']=Recruiters_Desig
df['Recruiters_Company']=Recruiters_Company
df['Recruiters_location']=Recruiters_location
df['Recruiters_skill']=Recruiters_skill
df

,Recruiters_Name,Recruiters_Desig,Recruiters_Company,Recruiters_location,Recruiters_skill
0,Santhosh Kumar,Associate Manager Human Resources,Maveric Systems,Chennai,"It Recruitment , Campus Recruitment , Campus H..."
1,Surendra R,Company Recruiter,DSR Design & Engineering Solutions,Hyderabad / Secunderabad,"Junior Level, Mid Level"
2,Sanghvi,Company Recruiter,Primacy Systems Pvt Ltd,Ahmedabad,"Mid Level, High Level"
3,Gauri Bhosle,Human Resources,TCRC,Mumbai,"Operation Executive , Jr. Chemist , Chemist , ..."
4,Rohit Khandelwal,Company Recruiter,PADHAI HELP PRIVATE LIMITED,Jaipur,"Mid Level, Junior Level"
5,Neha Pandey,Company Recruiter,Ingenious E-Brain Solutions Private Limited,Gurgaon,"B.tech , operations , Business Development"
6,Vinita Raut,Company Recruiter,Xpansion HR Solutions Private Limited,Pune,"IT-Software/Software Services, Education/Teach..."
7,Reena Dwivedi,Human Resource Manager,NDS Jewels Pvt Ltd.,Varanasi / Banaras,"Hotel Management , Housekeeping , Accounts Rec..."
8,Team - HRM Info,Recruitment Manager,HRM Info - Corporate HR Solutions,Pune,"High Level, Mid Level"
9,Snehal,HR cum Admin,Excel Management Consultants,Nagpur,-
10,Anamika Sharma,Human Resources Manager,TogetherV - Making Moments,Noida,"Online Marketing , Social Media Marketing , Di..."
11,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Mid Level, Junior Level"
12,MD SALATIN RIZVI,Recruitment Manager,SRS INDIA- Placement For All..,Mumbai,"Engineer , Supervisor , Inspector , Quality As..."
13,QAD India Pvt Ltd,Recruiter,Qad India Pvt Ltd,Mumbai,Qad
14,HR,HR Executive,Takeleap,Chennai,-
15,Rebecca Chandanshiv,HR,Freelancing,Mumbai,"Copy Writing , Copy Editing , Content Writing ..."
16,Abhilasha Rai,HR Manager,PGS India Limited,Mumbai,"Hotel Industry , Front Office , Reservation , ..."
17,Careers Team,HR,MangoPoint India,Chennai,"Junior Level, Mid Level"

## 8 question

In [28]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(2)

In [67]:
search_book=driver.find_elements_by_xpath('//table[@class="in-article sortable"]')
book=[]
for i in search_book:
    book.append(i.text.split('\n'))

In [68]:
book

[['Top 100 best selling books of all time',
  'UK sales only. Click heading to sort table. Download this data',
  'Rank',
  'Title',
  'Author',
  'Volume Sales',
  'Publisher',
  'Genre',
  'SOURCE: NIELSEN BOOK SCAN',
  '1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure',
  "2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
  "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction",
  "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
  '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas',
  "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
  "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction",
  "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
  '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure',
  "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
  '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas',
  '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
  '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure',
  '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
  '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure',
  '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
  '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure',
  '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
  '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction',
  '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
  '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure',
  '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
  '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure',
  '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
  '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books',
  '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
  "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General",
  '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
  '29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction',
  '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
  "31 Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure",
  "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
  '33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction',
  "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
  '35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General',
  "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
  '37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General',
  '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
  '39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts',
  '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
  "41 Gruffalo's Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books",
  "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
  '43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction',
  '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
  '45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction',
  '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
  '47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction',
  '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
  '49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction',
  "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
  '51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction',
  '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
  '53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet',
  '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
  "55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children's Fiction",
  '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
  "57 Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet",
  '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
  '59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides',
  "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
  '61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction',
  '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
  "63 My Sister's Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction",
  '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
  '65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction',
  '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
  '67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts',
  '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
  '69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure',
  '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
  '71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues',
  '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
  '73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts',
  '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
  "75 At My Mother's Knee ...:and Other Low Joints O'Grady, Paul 945,640 Transworld Autobiography: The Arts",
  '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
  '77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General',
  '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
  "79 Jamie's Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine",
  '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
  '81 Down Under Bryson, Bill 890,847 Transworld Travel Writing',
  '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
  '83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction',
  '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
  '85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction',
  "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
  '87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books',
  '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
  '89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts',
  '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
  '91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals',
  '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
  '93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction',
  '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
  '95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction',
  '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
  '97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General',
  '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
  "99 Lost Boy,The:A Foster Child's Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General",
  "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]]

In [69]:
df=pd.DataFrame(book)

In [70]:
df=pd.DataFrame.transpose(df)

In [71]:
df=df.iloc[9:]

In [72]:
df

                                                     0
9    1 Da Vinci Code,The Brown, Dan 5,094,805 Trans...
10   2 Harry Potter and the Deathly Hallows Rowling...
11   3 Harry Potter and the Philosopher's Stone Row...
12   4 Harry Potter and the Order of the Phoenix Ro...
13   5 Fifty Shades of Grey James, E. L. 3,758,936 ...
..                                                 ...
104  96 Ghost,The Harris, Robert 807,311 Random Hou...
105  97 Happy Days with the Naked Chef Oliver, Jami...
106  98 Hunger Games,The:Hunger Games Trilogy Colli...
107  99 Lost Boy,The:A Foster Child's Search for th...
108  100 Jamie's Ministry of Food:Anyone Can Learn ...

[100 rows x 1 columns]

## 9 Question

In [119]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https://www.imdb.com/list/ls095964455'
driver.get(url)
time.sleep(2)

In [120]:
urls=[]
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a'):
        urls.append(i.get_attribute("href"))

In [121]:
Movie_Name=[]
Movie_Genre=[]
Movie_rating=[]
Movie_votes=[]

for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        Name=driver.find_element_by_xpath('//div[@class="TitleBlock__TitleContainer-sc-1nlhx7j-1 jxsVNt"]')
        Movie_Name.append(Name.text.split('\n'))
    except:
        Movie_Name.append('-')
        
    try:
        Genre=driver.find_element_by_xpath('//*[@id="__next"]/main/div/section[1]/div/section/div/div[1]/section[7]/div[2]/ul[2]/li[2]/div')
        Movie_Genre.append(Genre.text)

    except:
        Movie_Genre.append('-')
               
    try:
        Rating=driver.find_element_by_xpath('//span[@class="AggregateRatingButton__RatingScore-sc-1ll29m0-1 iTLWoV"]')
        Movie_rating.append(Rating.text)

    except:
        Movie_rating.append('-')
        
    try:
        votes=driver.find_element_by_xpath('//div[@class="AggregateRatingButton__TotalRatingAmount-sc-1ll29m0-3 jkCVKJ"]')
        Movie_votes.append(votes.text)

    except:
        Movie_votes.append('-')

In [145]:
df=pd.DataFrame({})
#df['Movie_Name,Series,Year, Series2, Series2']=Movie_Name
df['Movie_Genre']=Movie_Genre
df['Movie_rating']=Movie_rating
df['Movie_votes']=Movie_votes
df

                                Movie_Genre Movie_rating Movie_votes
0                                         -          9.2          2M
1   DramaFantasyHorrorMysterySci-FiThriller          8.7        966K
2                                         -          8.1        932K
3                                         -          7.5        279K
4                        DramaMysterySci-Fi          7.6        239K
..                                      ...          ...         ...
95                             DramaFantasy          7.5         48K
96        AdventureComedyDramaFamilyMystery          7.8         59K
97                CrimeDramaMysteryThriller          8.1        186K
98    ComedyCrimeDramaHorrorMysteryThriller          7.1         39K
99               DramaHorrorMysteryThriller          8.6        222K

[100 rows x 3 columns]

In [148]:
df1=pd.DataFrame(Movie_Name)
df1.columns=['Name','series','Year','Series2','Runtime','Runtime']
Full_Details=pd.concat([df1,df],axis=1)
Full_Details

,Name,series,Year,Series2,Runtime,Runtime,Movie_Genre,Movie_rating,Movie_votes
0,Game of Thrones,TV Series,2011–2019,TV-MA,57m,None,-,9.2,2M
1,Stranger Things,TV Series,2016–,TV-14,51m,None,DramaFantasyHorrorMysterySci-FiThriller,8.7,966K
2,The Walking Dead,TV Series,2010–2022,TV-14,44m,None,-,8.1,932K
3,13 Reasons Why,TV Series,2017–2020,TV-MA,1h,None,-,7.5,279K
4,The 100,TV Series,2014–2020,TV-14,43m,None,DramaMysterySci-Fi,7.6,239K
...,...,...,...,...,...,...,...,...,...
95,Reign,TV Series,2013–2017,TV-14,42m,None,DramaFantasy,7.5,48K
96,A Series of Unfortunate Events,TV Series,2017–2019,TV-PG,50m,None,AdventureComedyDramaFamilyMystery,7.8,59K
97,Criminal Minds,TV Series,2005–2020,TV-14,42m,None,CrimeDramaMysteryThriller,8.1,186K
98,Scream: The TV Series,Original title: Scream,TV Series,2015–2019,TV-14,45m,ComedyCrimeDramaHorrorMysteryThriller,7.1,39K
99,The Haunting of Hill House,TV Mini Series,2018,TV-MA,9h 32m,None,DramaHorrorMysteryThriller,8.6,222K

## 10 Question

In [149]:
driver=webdriver.Chrome(r'C:\Users\surendar.reddy\Documents\data Science projet_Data traine\Web Scaping_Worksheet-2\chromedriver_win32\chromedriver.exe')
time.sleep(2)
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(2)

In [157]:
select_alldateset=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()

In [155]:
driver.get(select_alldateset)

In [162]:
urls=[]
for i in driver.find_elements_by_xpath('//p[@class="normal"]/b/a'):
        urls.append(i.get_attribute("href"))

In [176]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        Name=driver.find_element_by_xpath('//span[@class="heading"]')
        Dataset_name.append(Name.text)
    except:
        Dataset_name.append('-')
        
    try:
        type=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p')
        Data_type.append(type.text)
    except:
        Data_type.append('-')
    
    try:
        task=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p')
        Task.append(task.text)
    except:
        Task.append('-')
        
        
    try:
        attribute=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p')
        Attribute_type.append(attribute.text)

    except:
        Attribute_type.append('-')
               
    try:
        instances=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p')
        No_of_instances.append(instances.text)

    except:
        No_of_instances.append('-')
        
    try:
        no_attributes=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p')
        No_of_attribute.append(no_attributes.text)

    except:
        No_of_attribute.append('-')
        
    try:
        year=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p')
        Year.append(year.text)

    except:
        Year.append('-')

In [171]:
p=[]
for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p'):
    p.append(i.text)
p

['1995-12-01']

In [177]:
df=pd.DataFrame({})

df['Dataset_name']=Dataset_name
df['Data_type']=Data_type
df['Task']=Task
df['Attribute_type']=Attribute_type
df['No_of_instances']=No_of_instances
df['No_of_attribute']=No_of_attribute
df['Year']=Year

df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
2,Annealing Data Set,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data Data Set,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
4,Arrhythmia Data Set,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020-12-16
618,Turkish Music Emotion Dataset Data Set,Multivariate,Classification,"Integer, Real",400,50,2020-12-20
619,Maternal Health Risk Data Set Data Set,N/A,Classification,N/A,1014,7,2020-12-31
620,Room Occupancy Estimation Data Set,"Multivariate, Time-Series",Classification,Real,10129,16,2021-01-16
621,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020-12-13